/******* <-- general aspects --> *******/
* {
    font-family: 'Raleway', sans-serif;
}

/* background color */
.darkslategray-bg {
    background-color: #2b2b2b;
}

/* title color, etc */
.medium-yellow-color {
    color: #DB893D;
}

.gray {
    color: #cccccc;
}

.vh100 {
    height: 100vh;
    width: auto;
}

.vh90 {
    height: 90vh;
    width: auto;
}

/* container styles */
.container-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
	padding: 2em;
}

.align-items {
    align-items: center;
}

.form-style {
    width: 60vh;
}

.outline {
    outline: 1px solid #cccccc;
}

.inline-block {
    display: inline-block;
}

/******* <-- TITLES --> *******/

/* foodmap title1 INDEX view */
.foodmap-title1 {
    color:#DB893D;
    font-size: 3.5em;
    font-weight: lighter;
}

/* foodmap title FOODMAP BEGIN view  */
.foodmap-title2 {
    font-size: 2em;
    padding-top: 1em;
    /* font-weight: lighter; */
}

.foodmap-subtitle {
    font-size: 1.3em;
    margin: .5em 0 -.5em 0;
}

/* food img slider title */
.food-slider-title {
    /* color: red; */
    font-size: 1.3em;
    font-weight: bolder;
}

/******* <-- DETAILS --> *******/

 /* title underline FOODMAP BEGIN view */
.line::after {
    content: " ";
    background-color: #cccccc;
    display: block;
    margin: .3em .5em -.3em 0;
    height: .15em;
    width: 100%;
}

/******* <-- IMAGES--> *******/

.google-map-style {
    background-color: #cccccc;
    width: 100%;
    height: 25vh;
    /* box-sizing: border-box; */
    display: flex;
}

.google-map-style>img {
   width: 63%;
   height: auto;
}

.grid-food-img-style {
    background-color: #cccccc;
    width: 100%;
    height: 27vh;
    display: flex;
    /* flex-flow: nowrap; */
    /* box-sizing: border-box; */
}

.grid-food-img-style>img {
    object-fit: contain;
}

/******* <-- CAROUSEL SLIDER-> *******/

/* circle slider style */
.carousel-indicators {
    bottom: -39px;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    margin-top: 90px;
}

.carousel-caption {
    bottom: 60px;
}

.carousel-indicators .active {
    background-color: #000 \9;
}

.item{
    /* background-image: url(../assets/images/food-image/italian-food.jpg) ; */
    /* width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:center center; */
}







