<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foodmap Begin View</title>
    <!-- Bootstrap css -->
    <!-- <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Raleway font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- main.css -->
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script>
            function initialize() {
              var myLatlng = new google.maps.LatLng(-12.1241765,-77.0281543); //coordenadas de ubicación
              var mapOptions = {
              zoom: 15, //zoom de tu mapa
              center: myLatlng, //centrar tu mapa
              scrollwheel: false, //si colocas true en vez de false el usuario podrá hacer scroll dentro del mapa
              draggable: true, //esta opción es la manito que aparece y es usado para desplazarse en el mapa
              mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              var map = new google.maps.Map(document.getElementById('google-food'), mapOptions);
              var contentString = '<img src="logo.png" width="200" style="display:block;margin:auto;"><p>aquí la dirección</p>';//imagen y dirección
              var infowindow = new google.maps.InfoWindow({content: contentString});
              var marker = new google.maps.Marker({
              position: myLatlng,
              animation:google.maps.Animation.DROP,
              icon: 'icono-mapa.png', //icono de mapa
              map: map
              });
              infowindow.open(map,marker);
              google.maps.event.addListener(marker, 'click', function() {
              infowindow.open(map,marker);
              });
            }
            google.maps.event.addDomListener(window, 'load', initialize);
            </script>
            

</head>
<body>
    <main class="container-flex-column align-items vh100">
        <div class="container align-items vh90">
            <div class="row">
                <div class="">
                    <!-- form -->
                    <form role="form" class="col-md-4 darkslategray-bg vh90 form-style">
                       
                        <!--  top form -->
                        <div class="">
                            <!-- title -->
                            <h1 class="foodmap-title2 medium-yellow-color line text-center">Foodmap</h1>
                            <br>
                        </div>
                        
                        <!-- google map image -->
                        <!-- google map image -->
                        <div class="google-map-style ">
                        <!-- <div class="container-fluid"> -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <!-- <div class="google-map-style"> -->
                                        <div id="google-food"></div>

                                        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d31210.65390239822!2d-77.004206!3d-12.089427!3m2!1i1024!2i768!4f13.1!2m1!1scafeter%C3%ADas+san+borja!5e0!3m2!1ses-419!2spe!4v1514836434962" frameborder="0" style="border:0" allowfullscreen></iframe> -->
                                    <!-- <img class="img-responsive center-block" src="../assets/images/google-map-img.png" alt="google map image"> -->
                                <!-- </div> -->
                            </div>
                        <!-- </div>  -->
                        </div> 
                        </div> 

                        <!-- search input-->
                        <div class="row"> 
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <h2 class="foodmap-subtitle medium-yellow-color text-center">Comida cerca de ti</h2>
                                    <label class="medium-yellow-color text-center" for="restaurant-search-input"></label>
                                    <div class="input-group">
                                        <input type="search" name="restaurant-search-input" id="restaurant-search-input" class="form-control" placeholder="Buscar el restaurante de comida..." tabindex="1">
                                        <div class="input-group-addon darkslategray-bg"><span class="glyphicon glyphicon-search gray"></span></div>
                                    </div><!-- .input-group END--> 
                                </div> <!-- .form-group END--> 
                            </div> <!-- .col-xs-12 col-sm-12 col-md-12 END-->   
                        </div> <!-- .row END--> 
                        
                        <!-- grid food images -->
                        <!-- <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <figure class="grid-food-img-style">
                                    <img class="col-xs-6 col-sm-6 col-md-6 img-responsive" src="../assets/images/food-image/italian-food.jpg" alt="food">
                                    <img class="col-xs-6 col-sm-6 col-md-6 img-responsive" src="../assets/images/food-image/japanese-food.jpg" alt="food">
                                </figure>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <figure class="grid-food-img-style">
                                    <img class="col-xs-6 col-sm-6 col-md-6 img-responsive" src="../assets/images/food-image/peruvian-food.jpg" alt="food">
                                    <img class="col-xs-6 col-sm-6 col-md-6 img-responsive" src="../assets/images/food-image/thai-food.jpg" alt="food">
                                </figure>
                            </div>
                        </div>  -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <figure class="grid-food-img-style">
                                    <img class="col-xs-6 col-sm-6 col-md-6 img-responsive" src="../assets/images/food-image/italian-food.jpg" alt="food">
                                    <img class="col-xs-6 col-sm-6 col-md-6 img-responsive" src="../assets/images/food-image/japanese-food.jpg" alt="food">
                                    <img class="col-xs-6 col-sm-6 col-md-6 img-responsive" src="../assets/images/food-image/peruvian-food.jpg" alt="food">
                                    <img class="col-xs-6 col-sm-6 col-md-6 img-responsive" src="../assets/images/food-image/thai-food.jpg" alt="food">
                                </figure>
                            </div>
                        </div> 
                        
                    </form>  <!-- form END-->
                </div>  <!-- -->
            </div> <!-- .row END-->
        </div> <!-- .container align-items outline vh85 END-->
    </main>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- app.js -->
    <!-- <script type="text/javascript" src="../js/app.js"></script> -->
</body>
</html>