<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Foodmap Begin View 111</title>
    <!-- Bootstrap css -->
    <!-- <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../vendors/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Raleway font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- main.css -->
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <main class="container-flex-column align-items vh100">
        <div class="container align-items vh90">
            <div class="row">
                <div class="">
                    <!-- form -->
                    <form role="form" class="col-md-4 darkslategray-bg vh90 form-style">
                       
                        <!--  top form -->
                        <div class="">
                            <!-- title -->
                            <h1 class="foodmap-title2 medium-yellow-color line text-center">Foodmap</h1>
                            <br>
                        </div>
                        
                        <!-- google map image -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="google-map-style">
                                    <div id="google-food"></div>
                                </div>
                            </div>
                        </div> 

                        <!-- search input-->
                        <div class="row"> 
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <h2 class="foodmap-subtitle medium-yellow-color text-center">Comida cerca de ti</h2>
                                    <label class="medium-yellow-color text-center" for="search"></label>
                                    <div class="input-group">
                                        <input type="text" name="search" id="search" class="form-control" placeholder="¿Qué se antoja el día de hoy :)...?" tabindex="1"  data-toggle="modal" data-target="#myModal">
                                        <label class="" for="search"></label>
                                        <div class="input-group-addon darkslategray-bg" id="search"><span class="glyphicon glyphicon-search gray"></span></div>
                                    </div><!-- .input-group END--> 
                                    <ul class="list-group" id="result"></ul>
                                     <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                         <div class="modal-dialog">
                                        <!-- Modal content-->
                                            <div class="modal-content center-block form-style vh90">
                                                <!-- Modal body-->
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <center>
                                                        <a><img src="assets/images/googleMapsSweets.JPG" name="sweetLogoMap" class="img-circle sweet-img-logo"></a>
                                                        <h3 class="media-heading" id="name">Nombre del Negocio</h3>
                                                        <span><strong>Especialidades: </strong></span>
                                                            <span class="label label-warning">Postres</span>
                                                            <span class="label label-info">Empanadas</span>
                                                            <span class="label label-success">Café</span>
                                                            <span class="label label-info">Infusiones</span>
                                                    </center>
                                                    <hr>
                                                    <center>
                                                        <p class="text-left"><strong>Datos: </strong><br>
                                                        <span id="location"></span>
                                                        <span id="phone"></span>
                                                        </p>
                                                        <br>
                                                    </center>
                                                </div> <!-- modal body END -->
                                                <div class="modal-footer">
                                                    <center>
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                                                    </center>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="modal-container"></div>
                                </div> <!-- .form-group END--> 
                            </div> <!-- .col-xs-12 col-sm-12 col-md-12 END-->   
                        </div> <!-- .row END--> 
                        
                        <!-- grid food images -->
                        <div class="row">
                             <div class="col-xs-12 col-sm-12 col-md-12">
                                <figure class="">
                                    <div id="food" class="carousel slide" data-ride="carousel">
                                        <!-- Circle Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#food" data-slide-to="0" class="active"></li>
                                            <li data-target="#food" data-slide-to="1"></li>
                                            <li data-target="#food" data-slide-to="2"></li>
                                            <li data-target="#food" data-slide-to="3"></li>
                                        </ol>
                                    
                                        <!-- Wrapper for slides -->
                                        <div class="grid-food-img-style">
                                            <div class="carousel-inner" role="listbox">
                                                <div class="item active">
                                                    <img src="../assets/images/sweetFood/frosty.jpg" class="img-responsive" alt="food">
                                                    <div class="carousel-caption">
                                                        <h3 class="food-slider-title">¡NO PUEDES DEJAR DE PROBARLOS!.</h3>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="../assets/images/sweetFood/zona-punto-Sarcletti-logo.jpg" alt="food">
                                                    <div class="carousel-caption">
                                                        <h3 class="food-slider-title">¡NO PUEDES DEJAR DE PROBARLOS!.</h3>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="../assets/images/sweetFood/marie.jpg" alt="food">
                                                    <div class="carousel-caption">
                                                        <h3 class="food-slider-title">¡NO PUEDES DEJAR DE PROBARLOS!.</h3>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <img src="../assets/images/sweetFood/san-cafe.jpg" alt="food">
                                                    <div class="carousel-caption">
                                                        <h3 class="food-slider-title">¡NO PUEDES DEJAR DE PROBARLOS!.</h3>
                                                    </div>
                                                </div>
                                            </div> <!-- .carousel inner END-->
                                        </div> <!-- .grid-food-img-style-->
                                    
                                        <!--  Left and Right Arrow Controls -->
                                        <a class="left carousel-control" href="#food" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Anterior</span>
                                        </a>
                                        <a class="right carousel-control" href="#food" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Siguiente</span>
                                        </a>
                                    </div> <!-- .carousel slide END-->
                                </figure>    
                            </div> <!-- .col-xs-12 col-sm-12 col-md-12 END-->
                        </div> <!-- .row END-->
                    </form>  <!-- form END-->
                </div>  <!-- -->
            </div> <!-- .row END-->
        </div> <!-- .container align-items outline vh85 END-->
    </main>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- google.map-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="../js/google-map.js"></script>
    <!-- foodmap-begin.js -->
    <script type="text/javascript" src="../js/foodmap-begin-view.js"></script>
    <!-- data.js -->
    <script type="text/javascript" src="../js/data.json"></script>
</body>    
</html>
